absl-py
gym
numpy<2
pybullet
matplotlib
opencv-python
meshcat
scipy
scikit-image
torch
hydra-core
ftfy
torchvision
transforms3d
wandb
kornia
gym
pytorch-lightning
transformers
meshcat
openai
seaborn
trimesh
rtree
timm

# to record
imageio==2.35.1
imageio-ffmpeg==0.5.1